# 依赖目录
node_modules/

# Capacitor / iOS / Android 构建产物
www/
android/.gradle/
android/**/build/
ios/App/Pods/
ios/App/build/
ios/DerivedData/

# 通用构建产物
release/
dist/

# 日志与系统临时文件
npm-debug.log*
.DS_Store
